@charset "utf-8"; 
.background {
	background-color: #000000;
	background-image: url(background_01.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;


}
.bodytext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
}
.headertext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	color: #FFFFFF;
	text-transform: capitalize;
	background-image: url(50red.png);
	font-weight: bold;
	text-align: center;


}
