RewriteEngine On
Options +FollowSymLinks -Multiviews

RewriteEngine on
RewriteCond %{HTTP_HOST} ^redeclipse.sourceforge.net$ [OR,NC]
RewriteCond %{HTTP_HOST} ^redeclipse.net$
RewriteRule ^(.*)$ http://www.redeclipse.net/$1 [R=301,L,NC]

RewriteRule ^(servers|wiki|forum|chat|svn|old|devel|tracker|ticket|donate|project|google|facebook|youtube|desura|aur|chakra|guidelines|faq|trademark|license|readme)/(.+)$ /bits/index.php?target=$1&title=$2 [QSA,L,NC]
RewriteRule ^(servers|wiki|forum|download|chat|svn|old|devel|tracker|ticket|donate|project|google|facebook|youtube|desura|aur|chakra|guidelines|faq|trademark|license|readme)$ /bits/index.php?target=$1 [QSA,L,NC]
RewriteRule ^(home)$ /bits/index.php?target=$1 [QSA,L,NC]
RewriteRule ^(irc)$ /bits/index.php?target=chat [QSA,L,NC]

RewriteRule ^favicon.ico$ /bits/favicon.ico [QSA,L,NC]
RewriteRule ^$ /bits/index.php [QSA,L,NC]
